 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  body, html {
    height: 100%;
  }

 .container-fluid {
padding: 10px;
border: 1px solid rgb(171, 170, 170);
 }

 

 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

 

 .header , .footer {
background-color: #c78ed5;
  min-height: 70px;
 }

 .header-clr {
  background-color: rgb(208, 47, 26) ;
 }

 .sidebar {
    background-color: rgb(249, 193, 120);
  min-height: 150px;
 }

.main {
      background-color: yellowgreen;
  min-height: 420px;
}


.widget {
    background-color: rgb(242, 155, 155);
      min-height: 120px;


}
.statics {
    background-color: rgb(145, 185, 241);
      min-height: 120px;

}

